@font-face {
    font-family: "AvenirNext-heavy";
    src: url("../assets/font/AvenirNextLTPro-Bold.otf");
}
@font-face {
    font-family: "AvenirNext-Bold";
    src: url("../assets/font/AvenirNextLTPro-BoldCn.otf");
}
@font-face {
    font-family: "AvenirNext-Medium";
    src: url("../assets/font/AvenirNextLTPro-MediumCn.otf");
}
@font-face{
    font-family: "AvenirNext-Regular";
    src: url("../assets/font/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "AvenirNext-Ligth";
    src: url("../assets/font/AvenirNextLTPro-Cn.otf");
}