@import "reset.css";
@import "variables.scss";

.content {
  height: 100vh;
  display: flex;
  background-color: $home-background;
  color: $font-clear;
  font-size: $font-basic-size;

  &__description {
    justify-content: center;
  }
}